<div class="p-3">
  <div class="card bg-dark text-white">
    <img src="{{ post.picture }}" class="card-img img-fluid w-100" alt="postimage">
    <div class="card-img-overlay d-flex flex-column h-100 justify-content-between">
      <h3 class="card-title">{{ post.title }}</h3>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
      <p class="card-text">Read</p>
    </div>
  </div>
</div>
