<div class="row flex-column justify-content-center align-items-center">
  <div class="col-12 text-center">
    <h1>Title</h1>
    <h4>Author</h4>
  </div>
  <div class="col-6 offset-3">
      <img src="https://www.fillmurray.com/1200/800" class="card-img img-fluid" alt="postimage">
  </div>
  <div class="col-10">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quas accusantium, numquam id qui explicabo aperiam impedit? Est molestiae, quisquam reiciendis placeat molestias sint vero laborum exercitationem, ea, consequuntur odio!
    Optio ex similique numquam magnam quae rem omnis cupiditate aliquam, tempora sunt, beatae aspernatur nulla voluptas obcaecati quaerat, temporibus porro quidem voluptatum natus ipsam perferendis. Iusto nemo nesciunt tempora natus!
    Magni, facilis iusto adipisci ad itaque omnis ut praesentium inventore. Temporibus consectetur eligendi alias impedit doloremque, quaerat autem! Accusamus dicta nesciunt reiciendis dolorem quibusdam in sunt, optio aspernatur reprehenderit autem.
    Natus obcaecati vel, magnam officiis quibusdam libero accusamus nam enim maxime blanditiis eligendi quasi culpa odio, corrupti, expedita voluptatibus suscipit similique officia vitae repellendus. Architecto libero quia doloribus explicabo tenetur? <br>
    Adipisci amet nostrum magnam est porro repudiandae ea accusamus laudantium eum, magni tempore non numquam exercitationem debitis, quasi autem totam mollitia quae id possimus? Itaque quis assumenda et eligendi. Vel.
    Magni totam quo inventore voluptatum molestias officiis, cum accusamus necessitatibus, expedita ducimus, culpa fugit adipisci animi ut! Eum perferendis mollitia tempora omnis, expedita maxime voluptatum laborum, sequi praesentium facilis animi!
    Commodi labore eligendi expedita dolorem blanditiis nulla quod vero impedit tempora facilis obcaecati cumque soluta pariatur molestias dignissimos inventore, rerum, sint illo culpa? Alias, rerum? Enim mollitia voluptate obcaecati sapiente?
    Quidem quis iusto provident recusandae accusamus et vero mollitia, nobis rerum optio, reiciendis ducimus architecto tempora delectus quaerat illo facere explicabo odit quas suscipit eligendi error, doloremque expedita! Dolore, laboriosam.
    Quae veritatis recusandae nam suscipit commodi id praesentium beatae deserunt. Neque numquam, possimus ut sed, quos similique nisi, laboriosam tempora ea repellendus eum deleniti nihil beatae animi adipisci aspernatur ipsa?
    Doloribus sapiente dolorem nesciunt doloremque excepturi dolorum, consectetur ipsam sequi qui libero praesentium impedit mollitia corrupti recusandae atque nostrum eaque. Esse quae excepturi natus amet doloremque voluptatibus dolore numquam ut.</p>
  </div>
</div>
